####ProjectSetup####
.git
.gradle
.metadata
bin
eclipse
build
config
gradle
libs
logs
mods
resourcepacks
saves
.gitignore
.gitattributes
*.classpath
*.project
*gradlew*
*options.txt
*src\main*
*.setting*